body {
  text-align: center;
  background-color: #F1F1F2;
  font-family: "Poppins";
}

.navbar {
  background-color: #F1F1F2;
  margin-right: 20px;
}

.logo {
  margin-left: 20px;
  border-radius: 100%;
}

li {
  font-size: 14px;
  margin-right: 10px;
}
.navbar .navbar-nav .nav-link{
  border-radius: 20px;
}
.navbar .navbar-nav .nav-link:hover {
  color: black;
  background-color: white;
  border-radius: 20px;
}
.currentLink {
   color: #F1F1F2;
   background-color: #FF4B5A;
   border-radius: 20px;
}

.box {
  margin: auto;
  margin: 5% 7% 7% 7%;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  padding: 5% 3% 3% 3%;
  /* width: 700px;
  height: 400px; */
  /* -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box; */
}

.form-img {
  margin: 20px;
  height: 200px;
  width: 200px;
  transition: 1s ease;
}
img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

h2 {
  margin: 0;
  font-weight: bold;
  padding-bottom: 5%;
  font-size: 20px;
}

input {
  margin-bottom: 10px;
  border-radius: 15px;
  border: 0;
  display: block;
  background: #EAECEE;
  width: 100%;
  padding: 5px;
}

.in {
  /* border-radius: 25px; */
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}

textarea {
  margin-bottom: 10px;
  border-radius: 15px;
  border: 0;
  background: #EAECEE;
  width: 100%;
  height: 30%;
  padding: 5px;
  max-height: 60%;
}

input:focus {
  outline: none !important;
  border-color: #a896e7;
  box-shadow: 0 0 10px #a896e7;
}

textarea:focus {
  outline: none !important;
  border-color: #a896e7;
  box-shadow: 0 0 10px #a896e7;
}

.btn {
  background: #846ADD;
  border-color: #846ADD;
  border-radius: 15px;
}

.btn:hover {
  background: #7C60DA;
  border-color: #7C60DA;
}

#first {
  position: relative;
  float: left;
  margin: auto;
  height: 256px;
  width: 256px;
}

#second {
  position: relative;
  float: left;
  margin: auto;
  text-align: left;
  height: 256px;
  width: 256px;
}
